# Maven
target/
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml

# IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
*.swp
*.swo
*~
.factorypath
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/

settings.json

**/integration-test-screenshots/**
